html {
  border: none;
  padding: 0;
  margin-top: 15px;
  position: center;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #0e0a0aab;
}

span {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: white;
}
span > span {
  font-size: 0.9rem;
}
a{
  text-decoration: none;
}

.macacust>i{
  color:wheat;
  font-size: 2rem;
}

.macacust>svg{
  height: 35px;
  margin-left: 25px;
  fill: rgb(255, 255, 255);
}

.bold {
  width: 100%;
  display: flex;
  justify-content: center;
  font-style: italic;
  color: rgb(0, 0, 0);
  background-color: #d55858;
  font-weight: bold;
  border-radius: 8px 8px 0px 0px;
}
.bold:hover {
  background-color: #d69393c7;
}

.genis {
  height: 91px;
  border-style: solid;
  border-color: rgb(235, 247, 247);
  border-radius: 0px 0px 8px 8px;
  border-top-style: none;
  color: white;
  font-style: normal;
  margin-bottom: 8px;
  background-color: #383838;
}
.baslik {
  font-family: "Courier New", Courier, monospace;
  inline-size: 100%;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 12px;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  display: inline;
  justify-content: center;
  align-items: center;
  margin-top: 0.7rem;
}

.ecz {
  display: flex;
  flex-direction: row;
  grid-template-columns: r160px, 1fr;
  flex-wrap: wrap;
  justify-content: center;
}
div.ecz div {
  cursor: pointer;
}
.top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arametin {
  padding-left: 8px;
  border-radius: 8px;
  border: none;
  width: 273px;
  height: 32px;
  outline: none;
}

.arabuton {
  margin-left: 12px;
  width: 57px;
  height: 32px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.arama {
  display: none;
  padding: 12px;
  /*display: flex;*/
  flex-direction: row;
  align-items: center;
}
.arama h3 {
  padding-right: 15px;
  color: white;
}

.arabuton:hover {
  background-color: rgb(27, 51, 51);
  color: white;
}
.map {
  width: 100%;
}
.map iframe {
  width: 100%;
  border-radius: 18px;
}

.macacust{
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 0.9rem;
  width: 600px;
  height: 50px;
  background-color:#d55858;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.mapac{
  cursor: pointer;  
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .mapac{
    font-size: 1.7rem;
  }
  .macacust{
    width: 300px;
    height: 50px;
  }
  .not{
    font-size: 1.15rem !important;
  }
  .not span{
    font-size: 1.4rem !important;
  }
}

.mapac:active{
  background-color: #383838;
  user-select: none;
}
span .ds {
  display: none;
}
.genis {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.genis :first {
  padding-top: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.adresbas {
  display: flex;
  width: 100%;
  height: 120px;
  margin-top: 0.5rem;
  flex-direction: row;
  align-items: center;
  background-color: #d55858;
  border-radius: 18px;
}

.aaciklama {
  font-size: 1rem;
  font-weight: bold;
}

.red {
  width: 100%;
  color: rgb(201, 31, 31);
  font-weight: bold;
  height: 120px;
  background-color: #383838;
  border-radius: 0px 18px 18px 0px;
  display: flex;
  justify-content: center;
}
.red span {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.soltaraf {
  font-size: 1.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;
}

.soltaraf div {
  display: inline;
  justify-content: flex-start;
  align-items: center;
}

.soltaraf :first-child {
  font-weight: bold;
  display: inline;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 650px){
  .soltaraf{
    font-size: 1rem !important;
  }
}

.ecbiltutan {
  width: 100%;
  display: flex;
  justify-content: center;
}

.not{
  padding: auto;
  display: flex;
  font-size: 2rem;  
  font-style: italic;
  color:rgb(27, 51, 51);
  align-items: center;
}
.not span{
  font-weight: bold;
  margin: 0 10px;
  font-size: 2rem;
  font-style: italic;
}

.bolge {
  display: flex;
  flex-direction: column;
  font-size: 45px;
  letter-spacing: 2px;
  padding-top: 3px;
  color: rgba(70, 2, 2, 0.719);
}
.eczAd {
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 0.4rem;
}

.eczTel {
  font-size: 20px;
  letter-spacing: 2px;
  padding: 0.3rem;
}

#bolgeSec {
  width: 400px;
  height: 30px;
  border-radius: 2rem;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border: none;
}

@media only screen and (max-width: 650px) {
  #bolgeSec{
    width: 224px;
  }  
}

.secilmemis {
  width: 400px;
  margin: 10px;
  display: inline;
  flex-direction: column;
}

#list {
  margin: 1.06rem;
  display: flex;
  flex-direction: row;
}

.baslikkap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.secili {
  width: 400px;
  margin: 10px;
  display: inline;
  flex-direction: column;
}
.genis > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secili .bold{
  background-color: #298f7c;
}

/* .secili .bold .bolge >*{
  color: rgb(95, 247, 249)
} */

.bolgeAdiUst {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  letter-spacing: 2px;
  padding-top: 3px;
  color: #383838;
  /**-webkit-text-stroke: 0.051rem;
    -webkit-text-fill-color: white;**/
}

.sfrla{
  border: none;
  /* display: inline-block; */
  margin-left: 15px;
  border-radius: 2rem;
  width: 70px;
  /* background-color: #383838;   */
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.sfrla:active{
  background-color:#383838;
  color:#d55858;  
}

#topagit{
  position: fixed;
  right: 18px;
  bottom: 10px;
  width: 70px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

#topagit:active{
  background-color:#383838;
  color: white;  
}

@media only screen and (max-width: 650px) {
  #topagit {
    right: calc(screen/2);    
    bottom: 2%;
  }
}

i{
  color:#d55858
}


/* ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
} */

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #d55858;
}